<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>68802844271-8krqoh6ut8t0crkqfv0c9j9qqnhbnuoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68802844271-8krqoh6ut8t0crkqfv0c9j9qqnhbnuoc</string>
	<key>API_KEY</key>
	<string>AIzaSyC9XnTpWyKUJfvTU_LgC8C2-CeX4qTTc8k</string>
	<key>GCM_SENDER_ID</key>
	<string>68802844271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yazan.Take2</string>
	<key>PROJECT_ID</key>
	<string>project-7846108309583405305</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7846108309583405305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:68802844271:ios:a5426f48ee1d2d2a</string>
	<key>DATABASE_URL</key>
	<string>https://project-7846108309583405305.firebaseio.com</string>
</dict>
</plist>